<h1>Contact Us</h1>

<!-- er + tab -->
<%  %>

<!-- pe + tab -->
<%=  %>

<%# raise %>
<!-- form action => where to send it -->
<!-- form method => http verb -->
<form action="/contact" method="get">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search for team member" name="member" value="<%= params[:member] %>">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-warning">
  </div>
</form>



<ol>
  <% if @members.any? %>
    <% @members.each do |member| %>
      <li class="btn btn-primary"><%= member %></li>
    <% end %>
  <% else %>
    <p>No members found for <%= params[:member] %></p>
  <% end %>
</ol>

<!-- <a href="/about">About</a> -->
<!-- lt + tab -->
<%#= link_to "Text to display", which_path  %>
<%= link_to 'About', about_path, class: 'btn btn-light'  %>
<%= link_to 'Home', root_path, class: 'btn btn-light'  %>
